.HeaderMenu__SearchContainer{
  display: inline-block;
  vertical-align: top;
}

.HeaderMenu__SearchContainer > div {
  font-weight: bold;  
}

.HeaderMenu__SearchContainer input {
  color: #205081 !important;
}